mixin input(props)
  -
    var {
      initialValue = '',
      name = '',
      placeholder = '',
      type = '',
      withDropdownButton = false,
      withSubmitButton = false,
    } = props || {};

    var hasButton = withSubmitButton || withDropdownButton;
    var classes = 'input js-input' + (hasButton ? ' input_hasButton' : '');

  .input__container
    input(
      class = classes
      name = name
      placeholder = placeholder
      type = type
      value = initialValue
    )
    if withSubmitButton
      button.input__button(
        class = 'input__button_type_submit'
        type = 'submit'
      )
    if withDropdownButton
      button.input__button(
        class = 'input__button_type_dropdown'
        class = 'js-input__button_type_dropdown'
        type = 'button'
      )

