.input {
  padding: 0 0 0 15px;
  box-sizing: border-box;
  width: calc(100% - 44px);
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: transparentize($color-dark-shade, 0.25);
  border: 1px solid transparentize($color-dark-shade, 0.75);
  border-radius: 4px;
  outline: none;

  &:hover,
  &:focus {
    border-color: transparentize($color-dark-shade, 0.5);

    &::placeholder {
      color: transparentize($color-dark-shade, 0.25);
    }

    /* stylelint-disable */
    + .input__button {
      /* stylelint-enable */
      border-color: transparentize($color-dark-shade, 0.5);
    }
  }

  &::placeholder {
    color: transparentize($color-dark-shade, 0.75);
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &_hasButton {
    border-right-style: none;
    border-radius: 4px 0 0 4px;
  }

  &__button {
    width: 44px;
    height: 44px;
    line-height: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparentize($color-dark-shade, 0.75);
    border-left-style: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  &__button_type_submit {
    background-image: url('./../../img/forward-arrow.svg');
  }

  &__button_type_dropdown {
    background-image: url('./../../img/expand-icon.svg');

    &_turned {
      border-radius: 4px 0 0 4px;
      transform: rotate(180deg);
      border-right-style: none;
      border-left-style: solid;
    }
  }

  &_invalid {
    color: $color-error;
  }
}
