include ../../components/like-button/like-button.pug

mixin review(props)
  -
    var {
      date = '',
      likePressed = false,
      nLikes = 0,
      text = '',
      userId = 0,
      username = '',
    } = props || {};

  article.review
    .review__avatar-and-likes
      img.review__avatar(
        alt = `Аватар пользователя ${username}`
        height = '44px'
        src = require(`../../img/users-avatars/user-${userId}-avatar.jpg`)
        width = '44px'
      )
      .review__like-button
        +like-button({
          nLikes,
          pressed: likePressed,
        })
    .review__content
      .review__username
        +text({
          tag: 'p',
          text: username,
        })
      .review__date
        +text({
          tag: 'p',
          text: date,
        })
      .review__review-text
        +text({
          text,
          tag: 'p',
        })
