@import 'src/variables.scss';
@import 'src/components/text/text.scss';

.footer-menu {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  @media (max-width: 1365px) {
    justify-content: space-around;
  }

  &__column {
    width: 200px;
  }

  &__column-title-wrap {
    margin-bottom: 21px;
  }

  &__links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: transparentize($color-dark-shade, 0.5);

    &:hover {
      opacity: 0.5;
    }
  }
}
