mixin radio-buttons(props)
  -
    var {
      name = '',
      radioButtons = [],
    } = props || {};

  .radio-buttons
    each radioButton in radioButtons
      label.radio-buttons__label
        input.radio-buttons__input(
          checked = radioButton.checked
          name = name
          type = 'radio'
          value = radioButton.value
        )
        span.radio-buttons__checkmark
        span.radio-buttons__value
          | #{radioButton.value}
