@import 'src/components/arrival-filters/arrival-filters.scss';
@import 'src/components/button/button.scss';

.room-search {
  padding: 0 30px 30px;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  background: #fff;

  @media (min-width: 382px) {
    padding: 40px 29px 29px;
    width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &__fieldset {
    margin: 0 0 31px;
    padding: 0;
    border: 0;
  }

  &__legend {
    margin-bottom: 21px;
    padding: 0;
  }

  &__submit-button {
    @include submit-button;
  }
}
