include ../arrival-filters/arrival-filters.pug

mixin room-search()
  .room-search.js-room-search
    form
      fieldset.room-search__fieldset
        legend.room-search__legend
          +text({
            tag: 'h1',
            text: 'Найдём номера под ваши пожелания',
          })
        +arrival-filters()
      button.room-search__submit-button(
        type = 'submit'
      ) Подобрать номер
