@import 'src/components/arrival-filters/arrival-filters.scss';
@import 'src/components/button/button.scss';

.room-search {
  padding: 40px 30px 30px;
  max-width: 320px;
  background: #fff;

  &__fieldset {
    margin: 0 0 31px;
    padding: 0;
    border: 0;
  }

  &__legend {
    margin-bottom: 21px;
    padding: 0;
  }

  &__submit-button {
    @include submit-button;
  }
}
