mixin rate-buttons(props)
  -
    var {
      nFilled = 0,
    } = props;

    var i = 1;

  .rate-buttons
    while i <= nFilled
      .rate-buttons__rate-button
      - i++
    while i <= 5
      .rate-buttons__rate-button(
        class = 'rate-buttons__rate-button_unfilled'
      )
      - i++
