.rate-buttons {
  &__rate-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('img/star.svg');

    &_unfilled {
      background: url('img/star_border.svg');
    }
  }
}
