/* stylelint-disable */
@mixin button {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: $gradient-purple;
  border-radius: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

@mixin button_outlined {
  padding: 8px 18px;
  color: $color-purple;
  background: #fff;
  border: 2px solid $color-purple;

  &:hover {
    opacity: 1;
    background: #fff;
    border: 2px solid lighten($color-purple, 10%);
  }
}

@mixin text-button {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
  color: $color-purple;
  background: transparent;
  border-style: none;
  cursor: pointer;
  font-family: $font-family;
}
