@import 'src/variables.scss';

/* stylelint-disable */
@mixin button {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: $gradient-purple;
  border-radius: 22px;
  cursor: pointer;
  border-style: none;
  font-family: $font-family;

  &:hover {
    opacity: 0.5;
  }
}

@mixin submit-button {
  @include button;

  width: 100%;
  padding: 14px 22px 15px 18px;
  position: relative;

  &:after {
    width: 44px;
    height: 44px;
    content: '';
    background: url('./../../img/forward-arrow.svg') no-repeat 50%;
    position: absolute;
    top: 0;
    right: 0;
    filter: brightness(0) invert(1);
  }
}

@mixin button_outlined {
  padding: 13px 25px 14px;
  color: $color-purple;
  background: #fff;
  border: 2px solid $color-purple;

  &:hover {
    opacity: 1;
    background: #fff;
    border: 2px solid lighten($color-purple, 10%);
  }
}

@mixin button_tight {
  padding: 8px 18px;
}

@mixin text-button {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
  color: $color-purple;
  background: transparent;
  border-style: none;
  cursor: pointer;
  font-family: $font-family;

  &:hover {
    color: transparentize($color-dark-shade, 0.5);
  }
}
