@import 'src/variables.scss';

@mixin button {
  padding: 9px 20px 10px 19px;
  font-family: $font-family;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: $gradient-purple;
  border-style: none;
  border-radius: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

@mixin submit-button {
  @include button;
  position: relative;
  padding: 14px 20px 15px;

  width: 100%;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    content: '';
    background: url('./../../img/forward-arrow.svg') no-repeat 50%;
    filter: brightness(0) invert(1);
  }
}

@mixin outlined-button {
  position: relative;
  padding: 9px 20px 10px;

  color: $color-purple;
  background: #fff;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
    content: '';
    background: $gradient-purple;
    border-radius: 22px;
    //noinspection CssInvalidPropertyValue,CssInvalidFunction
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* stylelint-disable-line */
    -webkit-mask-composite: destination-out; /* stylelint-disable-line */
    mask-composite: exclude;
  }

  &:hover {
    opacity: 1;

    &::before {
      opacity: 0.5;
    }
  }
}

@mixin fixed-size-button {
  padding: 0;
  width: 99px;
  height: 44px;
}

@mixin text-button {
  padding: 0;
  font-family: $font-family;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-purple;
  background: transparent;
  border-style: none;
  cursor: pointer;

  &:hover {
    color: transparentize($color-dark-shade, 0.5);
  }
}
