mixin text(props)
  -
    var {
      align = undefined,
      tag = '',
      text = '',
    } = props || {};

  #{tag}(
    class = `text js-text text_tag_${tag}`
    class = (align ? `text_align_${align}` : null)
  )= text
