mixin text(opts)
  -
    var {
      classes = [],
      modifiers = [],
      tag = '',
      text = '',
    } = opts || {};

    var additionalClasses = classes;
    var classes = `text text_tag_${tag}`;
    additionalClasses.forEach((className) => {
      classes += ' ' + className;
    });
    modifiers?.forEach((modifier) => {
      classes += ` text_${modifier}`
    })

  #{tag}(
    class = classes
  )= text
