mixin like-button(props)
  -
    var {
      nLikes = 0,
      pressed = false,
    } = props || {};

  .like-button__container
    .like-button(
      class = `${pressed ? 'like-button_pressed' : ''}`
    ) #{nLikes}
    .like-button__icon(
      class = `${pressed ? 'like-button__icon_pressed' : ''}`
    )
