mixin like-button(props)
  -
    var {
      nLikes = 0,
      pressed = false,
    } = props || {};

  .like-button__container
    div(
      class=`like-button${pressed ? ' like-button_pressed' : ''}`
    ) #{nLikes}
    div(
      class=`like-button__icon${pressed ? ' like-button__icon_pressed' : ''}`
    )
