@import 'src/components/text/text.scss';
@import 'src/components/arrival-filters/arrival-filters.scss';
@import 'src/components/range-slider/range-slider.scss';
@import 'src/components/checkbox-buttons/checkbox-buttons.scss';
@import 'src/components/count-picker/count-picker.scss';
@import 'src/components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import 'src/components/room-card/room-card.scss';
@import 'src/components/pagination/pagination.scss';

.search-room {
  padding: 30px 26px 0;
  display: flex;
  max-width: 1920px;
  border-bottom: 1px solid transparentize($color-dark-shade, 0.75);

  @media (min-width: 1440px) {
    padding-right: 140px;
    padding-left: 140px;
  }

  @media (min-width: 2200px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 957px) {
    flex-direction: column;
  }

  &__filters {
    padding-right: 26px;

    min-width: 266px;
    max-width: 266px;

    @media (min-width: 1440px) {
      padding-right: 60px;
    }
  }

  &__filter-container {
    margin-bottom: 30px;

    &_smaller-margin {
      margin-bottom: 16px;
    }
  }

  &__rooms-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__rooms {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-column-gap: 12px;
    grid-row-gap: 20px;
  }

  &__pagination {
    margin: 40px auto 70px;
  }
}
