extends ../website-pages/website-pages.pug
include ../../components/text/text.pug
include ../../components/arrival-filters/arrival-filters.pug

block variables
  -
    var title = 'Search room';
    var description = 'Search room Description';
    var keywords = 'Search room Keywords';

block content
  .search-room.js-search-room
    .search-room__filters
      +arrival-filters({
        initialArrivalDate: '19.08.2019',
        initialDepartureDate: '23.08.2019',
        singleDateInput: true
      })
    .search-room__rooms-container
      .search-room__rooms-container-title
      .search-room__rooms
