extends ../website-pages/website-pages.pug
include ../../components/text/text.pug
include ../../components/arrival-filters/arrival-filters.pug
include ../../components/range-slider/range-slider.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/count-picker/count-picker.pug
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/room-card/room-card.pug
include ../../components/pagination/pagination.pug

block variables
  -
    var title = 'Search room';
    var description = 'Search room Description';
    var keywords = 'Search room Keywords';
    var facilitiesPickerItems = [
      { label: 'Спальни', count: 2 },
      { label: 'Кровати', count: 2 },
      { label: 'Ванные комнаты', count: 1 }
    ];
    var rooms = [{
      roomNumber: 888,
      price: 9990,
      roomSpecialType: 'Люкс',
      rating: 5,
      nReviews: 145,
    }, {
      roomNumber: 840,
      price: 9990,
      rating: 3,
      nReviews: 65,
    }, {
      roomNumber: 980,
      price: 8500,
      roomSpecialType: 'Люкс',
      rating: 3,
      nReviews: 35,
    }, {
      roomNumber: 856,
      price: 7300,
      rating: 5,
      nReviews: 19,
    }, {
      roomNumber: 740,
      price: 6000,
      rating: 4,
      nReviews: 44,
    }, {
      roomNumber: 982,
      price: 5800,
      rating: 3,
      nReviews: 56,
    }, {
      roomNumber: 678,
      price: 550,
      rating: 5,
      nReviews: 45,
    }, {
      roomNumber: 450,
      price: 5300,
      rating: 4,
      nReviews: 39,
    }, {
      roomNumber: 350,
      price: 5000,
      rating: 3,
      nReviews: 77,
    }, {
      roomNumber: 666,
      price: 5000,
      rating: 5,
      nReviews: 25,
    }, {
      roomNumber: 444,
      price: 5000,
      rating: 3,
      nReviews: 15,
    }, {
      roomNumber: 352,
      price: 5000,
      rating: 3,
      nReviews: 55,
    }];

block content
  .search-room.js-search-room
    .search-room__filters
      .search-room__filter-container
        +arrival-filters({
          initialArrivalDate: '19.08.2019',
          initialDepartureDate: '23.08.2019',
          singleDateInput: true
        })
      .search-room__filter-container
        +range-slider({
          minValue: 100,
          maxValue: 15100,
          initialLowerValue: 5000,
          initialUpperValue: 10000,
          step: 100,
          name: 'Диапазон цены',
          description: 'Стоимость за сутки пребывания в номере',
        })
      .search-room__filter-container
        +checkbox-buttons({
          name: 'roomRules',
          title: 'Правила дома',
          items: [{
            value: 'Можно курить',
          }, {
            value: 'Можно с питомцами',
            checked: true,
          }, {
            value: 'Можно пригласить гостей (до\xA010\xA0человек)',
            checked: true,
          }]
        })
      .search-room__filter-container
        +checkbox-buttons({
          name: 'accessibility',
          title: 'Доступность',
          rich: true,
          items: [{
            title: 'Широкий коридор',
            description: 'Ширина коридоров в номере не\xA0менее 91 см.'
          }, {
            title: 'Помощник для инвалидов',
            description: 'На 1 этаже вас встретит специалист и\xA0проводит до номера.'
          }]
        })
      .search-room__filter-container_smaller-margin
        +count-picker({
          label: 'Удобства номера',
          inputText: 'Выбор удобств',
          items: facilitiesPickerItems,
          withControlButtons: false,
        })
      .search-room__filter-container
        +expandable-checkbox-list({
          title: 'Дополнительные удобства',
          items: [{
            value: 'Завтрак',
          }, {
            value: 'Письменный стол',
            checked: true,
          }, {
            value: 'Стул для кормления',
            checked: true,
          }, {
            value: 'Кроватка',
            checked: true,
          }, {
            value: 'Телевизор',
          }, {
            value: 'Шампунь',
          }, {
            value: 'Телевизор',
          }, {
            value: 'Шампунь',
          }],
        })
    .search-room__rooms-container
      +text({
        tag: 'h1',
        text: 'Номера, которые мы для вас подобрали'
      })
      .search-room__rooms
        each room in rooms
          .search-room__room-card-container
            +room-card({
              roomNumber: room.roomNumber,
              price: room.price,
              roomSpecialType: room.roomSpecialType,
              rating: room.rating,
              nReviews: room.nReviews,
            })
      .search-room__pagination
        +pagination()

