@import 'src/components/text/text.scss';
@import 'src/components/arrival-filters/arrival-filters.scss';
@import 'src/components/range-slider/range-slider.scss';

.search-room {
  &__filters {
    margin-left: 10px;
    width: 266px;
  }

  &__arrival-filters {
    margin-bottom: 30px;
  }
}
