.dropdown-block {
  display: flex;
  border: 1px solid transparentize($color-dark-shade, 0.75);
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &_expanded {
    border: 1px solid transparentize($color-dark-shade, 0.5);
  }

  &:hover.dropdown-block_expanded,
  &_expanded {
    border-bottom-style: none;
    border-radius: 4px 4px 0 0;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__text {
    padding-left: 15px;
    box-sizing: border-box;
    width: calc(100% - 44px);
    height: 44px;
    line-height: 44px;
  }

  &__button {
    width: 44px;
    height: 44px;
    opacity: 0.5;
    line-height: 0;
    background: transparent url('./../../img/expand-icon.svg') no-repeat center;
    border-style: none;
    cursor: pointer;
  }

  &:hover &__button,
  &_expanded &__button {
    opacity: 0.75;
  }
}
