mixin dropdown-block(props)
  -
    var {
      initialArrivalDate = undefined,
      initialDepartureDate = undefined,
      inputText = '',
      isContentAreExtension = false,
      label = ''
    } = props || {};

  .dropdown-block__container
    .dropdown-block__label
      +text({
        tag: 'h3',
        text: label,
      })
    .dropdown-block.js-dropdown-block(
      class = `${isContentAreExtension ? 'dropdown-block_content-are-extension' : ''}`
      data-arrival-date = initialArrivalDate
      data-departure-date = initialDepartureDate
    )
      .dropdown-block__text.js-dropdown-block__text=inputText
      button.dropdown-block__button.js-dropdown-block__button(
        type = 'button'
      )
