mixin dropdown-block(opts)
  .dropdown-block__container
    .dropdown-block__label
      +text({
        tag: 'h3',
        text: opts.label,
      })
    div(
      class=`dropdown-block js-dropdown-block
      ${opts.isContentAreExtension ? 'dropdown-block_content-are-extension' : ''}`
      data-arrival-date=opts.initialArrivalDate
      data-departure-date=opts.initialDepartureDate
    )
      .dropdown-block__text.js-dropdown-block__text=opts.inputText
      button.dropdown-block__button.js-dropdown-block__button(type='button')
