@import 'src/variables.scss';
@import 'src/components/information-tooltip/information-tooltip.scss';
@import 'src/components/button/button.scss';
@import 'src/components/arrival-filters/arrival-filters.scss';

.booking-card {
  box-sizing: border-box;
  width: 100%;
  background: #fff;

  @media (min-width: 440px) {
    padding: 40px 29px 29px;
    width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &__fieldset {
    margin: 0 0 20px;
    padding: 0;
    border: 0;
  }

  &__legend {
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
  }

  &__room-number {
    font-size: 24px;
  }

  &__room-type {
    margin-left: 4px;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-purple;
  }

  &__price {
    color: transparentize($color-dark-shade, 0.5);
  }

  &__price-period {
    font-size: 12px;
    font-weight: normal;
  }

  &__date-filter-container {
    margin-bottom: 21px;
  }

  &__cost-details-list {
    margin: 0;
    padding: 21px 0 25px;
    list-style-type: none;
    line-height: 18px;

    &_hidden {
      display: none;
    }
  }

  &__cost-details-item {
    display: flex;
    justify-content: space-between;
  }

  &__cost-details-item + &__cost-details-item {
    margin-top: 10px;
  }

  &__cost-details-total {
    margin-left: 5px;
    display: flex;
    min-width: 100px;
    justify-content: space-between;
  }

  &__total-cost-block {
    display: flex;
    font-size: 19px;
    font-weight: bold;

    &_hidden {
      display: none;
    }
  }

  &__total-cost-separator {
    width: 100%;
    border-bottom: 1px dashed transparentize($color-dark-shade, 0.75);
  }

  &__submit-button {
    @include submit-button;

    &_hidden {
      display: none;
    }
  }
}
