@import 'src/variables.scss';
@import 'src/components/information-tooltip/information-tooltip.scss';
@import 'src/components/button/button.scss';

.booking-card {
  padding: 40px 30px 30px;
  min-width: 320px;
  max-width: 380px;
  background-color: #fff;

  &__fieldset {
    margin: 0 0 20px;
    padding: 0;
    border: 0;
  }

  &__legend {
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
  }

  &__room-number {
    font-size: 24px;
  }

  &__room-type {
    text-transform: uppercase;
    color: $color-purple;
  }

  &__price {
    color: transparentize($color-dark-shade, 0.5);
  }

  &__price-period {
    font-size: 12px;
    font-weight: normal;
  }

  &__date-filter-container {
    margin-bottom: 21px;
  }

  &__cost-details-list {
    margin: 0;
    padding: 15px 0 25px;
    list-style-type: none;

    &_hidden {
      display: none;
    }
  }

  &__cost-details-item {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
  }

  &__cost-details {
    display: flex;
    width: 245px;
    justify-content: space-between;
  }

  &__total-cost-block {
    display: flex;
    font-size: 19px;
    font-weight: bold;

    &_hidden {
      display: none;
    }
  }

  &__total-cost-separator {
    width: 100%;
    border-bottom: 1px dashed transparentize($color-dark-shade, 0.75);
  }

  &__submit-button {
    @include submit-button;

    &_hidden {
      display: none;
    }
  }
}
