mixin dropdown-input(opts)
  .dropdown-input__container
    +text({
      tag: 'h3',
      text: opts.label
    })
    .dropdown-input
      div(
        class='dropdown-input__text'
        class='js-dropdown-input__text'
      )
      button(
        class='dropdown-input__button'
        class='js-dropdown-input__button'
      )
