@use 'sass:math';
@import 'src/variables.scss';
@import 'src/components/text/text.scss';

@mixin thumb {
  position: relative;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  pointer-events: all;
  background: $gradient-green;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

$slider-view-height: 6px;

.range-slider {
  &__details {
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-size: 12px;
    line-height: 15px;
    color: transparentize($color-dark-shade, 0.5);
  }

  &__view {
    position: relative;
    height: $slider-view-height;
  }

  &__input {
    position: absolute;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: $slider-view-height;
    pointer-events: none;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    appearance: none;

    &:active,
    &:focus {
      outline: none;
    }

    &_upper {
      border: 1px solid transparent;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }
  }

  &__border {
    position: absolute;
    z-index: -2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid transparentize($color-dark-shade, 0.75);
    border-radius: math.div($slider-view-height, 2);
  }

  &__fill {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: $gradient-green;
  }

  &__label-container {
    margin-top: 14px;
  }
}
