include ../text/text.pug

mixin range-slider(props)
  -
    var {
      description = undefined,
      initialLowerValue = 0,
      initialUpperValue = 0,
      maxValue = 0,
      minValue = 0,
      label = '',
      step = 1,
    } = props || {};

  .range-slider.js-range-slider
    .range-slider__details
      +text({
        tag: 'h3',
        text: label,
      })
      .range-slider__label.js-range-slider__range-label(
        data-initial-lower-value = initialLowerValue
        data-initial-upper-value = initialUpperValue
        data-max-value = maxValue
        data-min-value = minValue
      )
    .range-slider__view
      input.range-slider__input.range-slider__input_lower.js-range-slider__input_lower(
        step = step
        type = 'range'
      )
      input.range-slider__input.range-slider__input_upper.js-range-slider__input_upper(
        step = step
        type = 'range'
      )
      .range-slider__border
      .range-slider__fill.js-range-slider__fill
    if description
      .range-slider__label-container
        .range-slider__label= description
