@import 'src/variables.scss';
@import '../../components/date-filter/date-filter.scss';
@import '../../components/calendar/calendar.scss';
@import '../../components/count-picker/count-picker.scss';
@import '../../components/checkbox-buttons/checkbox-buttons.scss';
@import '../../components/radio-buttons/radio-buttons.scss';
@import '../../components/toggle-switch/toggle-switch.scss';
@import '../../components/like-button/like-button.scss';
@import '../../components/rate-buttons/rate-buttons.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/button/button.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../components/features/features.scss';
@import '../../components/review/review.scss';
@import '../../components/bullet-list/bullet-list.scss';

.elements {
  padding: 65px 0 132px 140px;
  display: flex;
  width: 1159px;
  flex-wrap: wrap;

  &__block {
    width: 320px;

    &_column {
      &_first {
        margin-right: 126px;
      }

      &_second {
        margin-right: 72px;
      }
    }

    &_row {
      &_first {
        margin-bottom: 100px;
      }

      &_second {
        margin-bottom: 158.44px;
      }

      &_third {
        margin-bottom: 40px;
      }
    }

    &_narrow {
      width: 266px;
    }

    &_wide {
      width: 712px;
    }
  }

  &__element {
    margin-bottom: 20px;

    &_bottom-margin_bigger {
      margin-bottom: 40px;
    }
  }

  &__label-block {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    &_bottom-margin_bigger {
      margin-bottom: 16px;
    }
  }

  &__label {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: transparentize($color-dark-shade, 0.5);
  }

  &__element-container {
    display: flex;
    justify-content: space-between;
  }

  &__toggle-switches-container {
    height: 50px;
    flex-direction: column;
  }

  &__like-buttons-container {
    width: 90px;
  }

  &__rate-buttons-container {
    width: 260px;
  }

  &__button {
    @include button;
    margin-right: 20px;
    margin-bottom: 30px;

    &_outlined {
      @include outlined-button;
    }

    &_size_fixed {
      @include fixed-size-button;
    }

    &_text {
      @include text-button;
    }

    &_submit {
      @include submit-button;
      margin-bottom: 0;
    }
  }
}
