extends ../website-pages/website-pages.pug
include ../../components/registration-card/registration-card.pug

block variables
  -
    var title = 'Registration';
    var description = 'Registration Description';
    var keywords = 'Registration Keywords';

block content
  .registration
    +registration-card()
