include ../input/input.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-switch/toggle-switch.pug

mixin registration-card()
  .registration-card
    form
      fieldset.registration-card__fieldset
        legend.registration-card__legend
          +text({
            text: 'Регистрация аккаунта',
            tag: 'h1',
          })
        .registration-card__container
          +input({
            name: 'firstName',
            placeholder: 'Имя',
            type: 'text',
          })
        .registration-card__container
          +input({
            name: 'lastName',
            placeholder: 'Фамилия',
            type: 'text',
          })
        .registration-card__container
          +radio-buttons({
            name: 'gender',
            radioButtons: [
              {value: 'Мужчина', checked: true},
              {value: 'Женщина'},
            ]
          })
        .registration-card__container.registration-card__container_bigger-margin
          +text({
            text: 'Дата рождения',
            tag: 'h3',
          })
        .registration-card__container.registration-card__container_smaller-margin
          +input({
            name: 'birthday',
            placeholder: 'ДД.ММ.ГГГГ',
            type: 'text',
          })
        .registration-card__container.registration-card__container_bigger-margin
          +text({
            text: 'Данные для входа в сервис',
            tag: 'h3',
          })
        .registration-card__container.registration-card__container_smaller-margin
          +input({
            name: 'email',
            placeholder: 'Email',
            type: 'text',
          })
        .registration-card__container
          +input({
            name: 'password',
            placeholder: 'Пароль',
            type: 'text',
          })
        .registration-card__container
          +toggle-switch({
            name: 'subscribe',
            value: 'Получать спецпредложения'
          })
        button.registration-card__submit-button(
          type='submit'
        )='Зарегистрироваться'
    .registration-card__signup-block
      span.registration-card__signup-label='Уже есть аккаунт на Toxin'
      a(href='signup.html')
        button.registration-card__button.registration-card__button_outlined.registration-card__button_size_fixed='Войти'
