include ../input/input.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-switch/toggle-switch.pug

mixin registration-card()
  .registration-card
    form
      fieldset.registration-card__fieldset
        legend.registration-card__legend
          +text({
            tag: 'h1',
            text: 'Регистрация аккаунта',
          })
        .registration-card__container
          +input({
            name: 'firstName',
            placeholder: 'Имя',
            type: 'text',
          })
        .registration-card__container
          +input({
            name: 'lastName',
            placeholder: 'Фамилия',
            type: 'text',
          })
        .registration-card__container
          +radio-buttons({
            radioButtons: [
              { value: 'Мужчина', checked: true },
              { value: 'Женщина' },
            ],
            name: 'gender'
          })
        .registration-card__container(
          class = 'registration-card__container_bigger-margin'
        )
          +text({
            tag: 'h3',
            text: 'Дата рождения',
          })
        .registration-card__container(
          class = 'registration-card__container_smaller-margin'
        )
          +input({
            name: 'birthday',
            placeholder: 'ДД.ММ.ГГГГ',
            type: 'text',
          })
        .registration-card__container(
          class = 'registration-card__container_bigger-margin'
        )
          +text({
            tag: 'h3',
            text: 'Данные для входа в сервис',
          })
        .registration-card__container(
          class = 'registration-card__container_smaller-margin'
        )
          +input({
            name: 'email',
            placeholder: 'Email',
            type: 'text',
          })
        .registration-card__container
          +input({
            name: 'password',
            placeholder: 'Пароль',
            type: 'text',
          })
        .registration-card__container
          +toggle-switch({
            name: 'subscribe',
            value: 'Получать спецпредложения'
          })
        button.registration-card__submit-button(
          type = 'submit'
        ) Зарегистрироваться
    form.registration-card__signup-block(
      action = 'signin.html'
    )
      span.registration-card__signup-label Уже есть аккаунт на Toxin
      button.registration-card__button(
        class = 'registration-card__button_outlined'
        class = 'registration-card__button_size_fixed'
        type = 'submit'
      ) Войти
