include ../../components/header/header
include ../../components/footer/footer

block variables
doctype html
html(
  lang = 'ru'
)
  head
    meta(
      charset = 'UTF-8'
    )
    meta(
      content = 'width=device-width, initial-scale=1.0'
      name = 'viewport'
    )
    meta(
      content = description
      name = 'description'
    )
    meta(
      content = keywords
      name = 'keywords'
    )
    title #{title}
  body
    .website-pages
      header.website-pages__header
        +header()
      main.website-pages__main
        block content
      footer.website-pages__footer(
        class=`${needTopBorder ? 'website-pages__footer_has-top-border' : ''}`
      )
        +footer()
