@import 'src/components/room-search/room-search.scss';
@import 'src/components/text/text.scss';

.index {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: 1920px;
  height: 100%;
  flex-direction: column;
  background: url('./../../img/backgrounds/landing-background.jpg') no-repeat center center fixed;
  background-size: cover;

  &__room-search-card {
    margin: 70px auto 18px;

    @media (max-width: 380px) {
      margin-top: 0;
    }

    @media (min-width: 660px) {
      margin-left: 140px;
    }
  }

  &__tagline {
    margin: auto 18px 18px auto;
    width: 297px;

    @media (min-width: 660px) {
      margin-right: 70px;
    }

    @media (min-width: 1024px) {
      margin-right: 134px;
    }
  }
}
