@import 'src/components/room-search/room-search.scss';
@import 'src/components/text/text.scss';

.index {
  position: relative;
  width: 100%;
  height: 830px;
  background-image: url('https://unsplash.it/2560?random');

  &__room-search-card {
    position: absolute;
    top: 70px;
    left: 140px;
  }

  &__tagline {
    position: absolute;
    right: 134px;
    bottom: 18px;
    width: 297px;
  }
}
