@import 'src/variables.scss';

.information-tooltip {
  display: flex;
  box-sizing: border-box;
  min-width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: transparentize($color-dark-shade, 0.75);
  border: 1px solid transparentize($color-dark-shade, 0.75);
  border-radius: 50%;
  cursor: help;
}
