@import 'src/variables.scss';
@import 'src/components/text/text.scss';

.typography-item {
  display: flex;

  &__tag {
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
    color: transparentize($color-dark-shade, 0.75);

    &_size_largest {
      font-size: 24px;
      line-height: 29px;
    }

    &_size_larger {
      font-size: 19px;
      line-height: 23px;
    }

    &_size_small {
      font-size: 12px;
      line-height: 15px;
    }

    &_size_medium {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
