include ../text/text.pug

mixin typography-item(tagSize, tagText, descriptionTag, descriptionText)
  section.typography-item
    div(class=`typography-item__tag typography-item__tag_size_${tagSize}`)= tagText
    +text({
      tag: descriptionTag,
      text: descriptionText,
    })
