mixin typography-item(tagSize, tagText, descriptionTag, descriptionText)
  section.typography-item
    div(class=`typography-item__tag typography-item__tag_size_${tagSize}`)= tagText
    div(class=`typography-item__description_tag_${descriptionTag}`)= descriptionText
