@import 'src/variables.scss';

.typography-item {
  display: flex;

  &__tag {
    margin-right: 30px;
    min-width: 37px;
    text-align: right;
    color: transparentize($color-dark-shade, 0.75);

    &_size_largest {
      font-size: 24px;
      line-height: 29px;
    }

    &_size_larger {
      font-size: 19px;
      line-height: 23px;
    }

    &_size_small {
      font-size: 12px;
      line-height: 15px;
    }

    &_size_medium {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__description {
    &_tag_h1 {
      font-size: 24px;
      line-height: 29px;
      font-weight: bold;
    }

    &_tag_h2 {
      font-size: 19px;
      line-height: 23px;
      font-weight: bold;
    }

    &_tag_h3 {
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &_tag_body {
      font-size: 14px;
      line-height: 24px;
      color: transparentize($color-dark-shade, 0.25);
    }
  }
}
