@import 'src/variables.scss';
@import 'src/components/text/text.scss';
@import 'src/components/button/button.scss';

/* stylelint-disable */
.calendar {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid transparentize($color-purple, 0.75);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__month-nav-button {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-style: none;
    background-origin: border-box;
    background-position: center;
    cursor: pointer;
    background-image: url('./../../img/back-arrow.svg');
  }

  &__month-nav-button_next {
    transform: rotate(180deg);
  }

  &__table {
    margin: 30px 0 20px;
    border-collapse: collapse;
  }

  &__table-head-data {
    color: $color-purple;
  }

  &__table-head-data,
  &__table-data {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  &__table-data {
    color: transparentize($color-dark-shade, 0.75);
    text-align: center;
    cursor: pointer;
  }

  &__table-data_thisMonth {
    color: transparentize($color-dark-shade, 0.25);
  }

  &__table-data:hover,
  &__table-data_today,
  &__table-data_selected {
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
  }

  &__table-data_today {
    background: $gradient-green;
  }

  &__table-data:hover,
  &__table-data_selected {
    background: $gradient-purple;
  }

  &__table-data_first-selected,
  &__table-data_between-selected,
  &__table-data_second-selected {
    border-radius: unset;

    &:hover {
      border-radius: unset;
    }
  }

  &__table-data_first-selected {
    background: url('./../../components/calendar/img/first-selected.svg');
  }

  &__table-data_between-selected {
    background: url('./../../components/calendar/img/between-selected.svg');
  }

  &__table-data_second-selected {
    background: url('./../../components/calendar/img/second-selected.svg');
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__control-button {
    @include text-button;
  }
}
