include ../text/text.pug

mixin calendar()
  -
    var daysWeekNames = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];

  section.calendar.js-calendar
    .calendar__top
      button.calendar__month-nav-button(
        class = 'calendar__month-nav-button_prev'
        class = 'js-calendar__month-nav-button_prev'
        type = 'button'
      )
      +text({
        classes: ['js-calendar__top-text'],
        tag: 'h2',
      })
      button.calendar__month-nav-button(
        class = 'calendar__month-nav-button_next'
        class = 'js-calendar__month-nav-button_next'
        type = 'button'
      )
    table.calendar__table
      thead.calendar__table-head
        tr.calendar__table-row
          each dayName in daysWeekNames
            th.calendar__table-head-data= dayName
      tbody.calendar__table-body.js-calendar__table-body
    .calendar__bottom
      button.calendar__control-button(
        class = 'js-calendar__clear-button'
        type = 'button'
      ) Очистить
      button.calendar__control-button(
        class = 'js-calendar__apply-button'
        type = 'button'
      ) Применить

