include ../input/input.pug

mixin signin-card()
  .signin-card
    form
      fieldset.signin-card__fieldset
        legend.signin-card__legend
          +text({
            tag: 'h1',
            text: 'Войти',
          })
        .signin-card__input-container
          +input({
            name: 'email',
            placeholder: 'Email',
            type: 'text',
          })
        .signin-card__input-container
          +input({
            name: 'password',
            placeholder: 'Пароль',
            type: 'text',
          })
        button.signin-card__submit-button(
          type = 'submit'
        ) Войти
    .signin-card__signup-block
      span.signin-card__signup-label Нет аккаунта на Toxin?
      a(
        href='registration.html'
      )
        button.signin-card__button(
          class = 'signin-card__button_outlined'
          class = 'signin-card__button_size_fixed'
        ) Создать
