@import 'src/components/button/button.scss';

.signin-card {
  padding: 0 30px 30px;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  background: #fff;
  user-select: none;

  @media (min-width: 382px) {
    padding: 40px 29px 29px;
    width: 380px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }

  &__fieldset {
    margin: 0 0 30px;
    padding: 0;
    border: 0;
  }

  &__legend {
    margin-bottom: 10px;
    padding: 0;
  }

  &__input-container {
    margin-top: 10px;
  }

  &__submit-button {
    @include submit-button;
    margin-top: 20px;
  }

  &__signup-label {
    margin-right: 10px;
  }

  &__signup-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    @include button;

    &_outlined {
      @include button_outlined;
    }

    &_size_fixed {
      @include button_size_fixed;
    }
  }
}
