include ../input/input.pug

mixin signin-card()
  .signin-card
    form
      fieldset.signin-card__fieldset
        legend.signin-card__legend
          +text({
            tag: 'h1',
            text: 'Войти',
          })
        .signin-card__input-container
          +input({
            name: 'email',
            placeholder: 'Email',
            type: 'text',
          })
        .signin-card__input-container
          +input({
            name: 'password',
            placeholder: 'Пароль',
            type: 'text',
          })
        button.signin-card__submit-button(
          type = 'submit'
        ) Войти
    form.signin-card__signup-block(
      action = 'registration.html'
    )
      span.signin-card__signup-label Нет аккаунта на Toxin?
      button.signin-card__button(
        class = 'signin-card__button_outlined'
        class = 'signin-card__button_size_fixed'
        type = 'submit'
      ) Создать
