extends ../../layouts/ui-kit/ui-kit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
  -
    var title = 'Headers & Footers';
    var description = 'Headers & Footers Description';
    var keywords = 'Headers & Footers Keywords';
    var backgroundColor = 'gray';

block content
  .headers-and-footers
    .headers-and-footers__item.headers-and-footers__header
      +header()
    .headers-and-footers__item.headers-and-footers__header
      +header('Юлий Цезарь')
    .headers-and-footers__item.headers-and-footers__footer
      +footer()
    .headers-and-footers__item.headers-and-footers__footer.headers-and-footers__footer_narrow
      +footer(true)
