extends ../ui-kit/ui-kit.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
  -
    var title = 'Headers & Footers';
    var description = 'Headers & Footers Description';
    var keywords = 'Headers & Footers Keywords';
    var backgroundColor = 'gray';

block content
  .headers-and-footers
    .headers-and-footers__item
      +header()
    .headers-and-footers__item
      +footer()
    div(class='headers-and-footers__item headers-and-footers__item_mobile')
      +footer(true)
