mixin toggle-switch(props)
  -
    var {
      name = '',
      value = '',
      checked = false,
    } = props || {};

  .toggle-switch
    label.toggle-switch__label
      input.toggle-switch__input(
        checked = checked
        name = name
        type = 'checkbox'
      )
      span.toggle-switch__slider
      span.toggle-switch__value
        | #{value}
