mixin toggle-switch(props)
  -
    var {
      name = '',
      value = '',
      checked = false,
    } = props || {};

  .toggle-switch
    label.toggle-switch__label
      input.toggle-switch__input(
        type='checkbox'
        name=name
        checked=checked
      )
      span.toggle-switch__slider
      span.toggle-switch__value
        | #{value}
