block variables
doctype html
html(
  class = `ui-kit_background-color_${backgroundColor}`
  lang = 'ru'
)
  head
    meta(
      charset = 'UTF-8'
    )
    meta(
      content = 'width=device-width, initial-scale=1.0'
      name = 'viewport'
    )
    meta(
      content = description
      name = 'description'
    )
    meta(
      content = keywords
      name = 'keywords'
    )
    title #{title}
  body
    header.ui-kit__header
      img(
        alt = 'Toxin Logo'
        src = require('../../layouts/ui-kit/img/bw-site-logo.svg')
      )
    block content
