include ../input/input.pug
include ../dropdown-block/dropdown-block.pug
include ../calendar/calendar.pug

mixin date-filter(props)
  -
    var {
      arrivalLabel = '',
      dateFilterLabel = '',
      departureLabel = '',
      initialArrivalDate = '',
      initialDepartureDate = '',
      isSingleDateInput = false,
    } = props || {};

  .date-filter.js-date-filter(
    class=`${isSingleDateInput ? 'date-filter_single-date-input' : ''}`
  )
    if isSingleDateInput
      +dropdown-block({
        initialArrivalDate,
        initialDepartureDate,
        isContentAreExtension: false,
        label: dateFilterLabel,
      })
    else
      .date-filter__arrival.js-date-filter__arrival
        .date-filter__label
          +text({
            tag: 'h3',
            text: arrivalLabel,
          })
        +input({
          initialValue: initialArrivalDate,
          name: 'arrival-date',
          placeholder: 'ДД.ММ.ГГГГ',
          type: 'text',
          withDropdownButton: true,
        })
      .date-filter__departure.js-date-filter__departure
        .date-filter__label
          +text({
            tag: 'h3',
            text: departureLabel,
          })
        +input({
          initialValue: initialDepartureDate,
          name: 'departure-date',
          placeholder: 'ДД.ММ.ГГГГ',
          type: 'text',
          withDropdownButton: true,
        })
    .date-filter__calendar-container.js-date-filter__calendar-container(
      class = `${isSingleDateInput ? 'date-filter__calendar-container_offset_small' : ''}`
    )
      +calendar()



