@import 'src/components/input/input.scss';
@import 'src/components/dropdown-block/dropdown-block.scss';
@import 'src/components/calendar/calendar.scss';

/* stylelint-disable */
.date-filter {
  display: flex;
  position: relative;
  justify-content: space-between;

  &__arrival,
  &__departure {
    max-width: 150px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__calendar-container {
    position: absolute;
    display: none;
    top: 70px;
    z-index: 2;

    &_visible {
      display: block;
    }
  }
}
