include ../date-filter/date-filter.pug
include ../count-picker/count-picker.pug

mixin arrival-filters(props)
  -
    var {
      guestPickerItems = [
        { label: 'Взрослые', count: 0 },
        { label: 'Дети', count: 0 },
        { label: 'Младенцы', count: 0 },
      ],
      initialArrivalDate = '',
      initialDepartureDate = '',
      singleDateInput = false,
    } = props || {};

  .arrival-filters.js-arrival-filters
    .arrival-filters__date-filter-container
      +date-filter({
        initialArrivalDate,
        initialDepartureDate,
        singleDateInput,
        arrivalLabel: 'Прибытие',
        dateFilterLabel: 'Даты пребывания в отеле',
        departureLabel: 'Выезд',
      })
    +count-picker({
      inputText: 'Сколько гостей',
      items: guestPickerItems,
      label: 'Гости',
      type: 'guests',
      withControlButtons: true,
    })
