include ../date-filter/date-filter.pug
include ../count-picker/count-picker.pug

mixin arrival-filters(opts)
  -
    var initialArrivalDate = opts?.initialArrivalDate || '';
    var initialDepartureDate = opts?.initialDepartureDate || '';
    var guestPickerItems = opts?.guestPickerItems || [
      { label: 'Взрослые', count: 0 },
      { label: 'Дети', count: 0 },
      { label: 'Младенцы', count: 0 }
    ];

  .arrival-filters
    .arrival-filters__date-filter-container
      +date-filter({
        initialArrivalDate,
        initialDepartureDate,
        arrivalLabel: 'Прибытие',
        departureLabel: 'Выезд',
        separateDates: true,
      })
    +count-picker({
      label: 'Гости',
      inputText: 'Сколько гостей',
      withControlButtons: true,
      items: guestPickerItems,
    })
