include ../logo-link/logo-link.pug

mixin header(props)
  -
    var {
      username = false,
    } = props || {};

    var menuData = [
      { linkName: 'О нас', link: 'page-not-found.html' },
      {
        linkName: 'Услуги', link: 'page-not-found.html',
        submenu: [
          { linkName: 'Услуга 1', link: 'page-not-found.html' },
          { linkName: 'Услуга 2', link: 'page-not-found.html' },
          { linkName: 'Услуга 3', link: 'page-not-found.html' },
        ],
      },
      { linkName: 'Вакансии', link: 'page-not-found.html' },
      { linkName: 'Новости', link: 'page-not-found.html' },
      {
        linkName: 'Соглашения', link: 'page-not-found.html',
        submenu: [
          { linkName: 'Соглашение 1', link: 'page-not-found.html' },
          { linkName: 'Соглашение 2', link: 'page-not-found.html' },
          { linkName: 'Соглашение 3', link: 'page-not-found.html' },
        ],
      },
    ];

  .header.js-header
    .header__logo-container
      +logo-link()
    .header__menu-buttons
      if !username
        button.header__profile-menu-button.js-header__profile-menu-button(
          type = 'button'
        )
      button.header__nav-menu-button.js-header__nav-menu-button(
        type = 'button'
      )
    nav.header__menu.js-header__menu
      each menuItem in menuData
        .header__link-container
          a.header__link.js-header__link(
            href = menuItem.link
          )= menuItem.linkName
          if menuItem.submenu
            .header__expand-button.js-header__expand-button
            .header__dropdown-content
              each link in menuItem.submenu
                .header__link-container
                  a.header__link(
                    href = link.link
                  )= link.linkName
    .header__profile
      if username
        p.header__username= username
      else
        .header__profile-menu.js-header__profile-menu
          .header__link-container
            a.header__link(
              class = 'header__button'
              class = 'header__button_outlined'
              href = 'signin.html'
            ) Войти
          .header__link-container
            a.header__link(
              class = 'header__button'
              href = 'registration.html'
            ) Зарегистрироваться
