@import 'src/variables.scss';
@import 'src/components/button/button.scss';

$narrow-width-end: 1079px;
$wide-width-start: 1080px;

.header {
  position: relative;
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  max-width: 1920px;
  align-items: center;

  @media (max-width: $narrow-width-end) {
    padding-right: 0;
  }

  @media (min-width: $wide-width-start) {
    padding: 0 70px;
  }

  @media (min-width: 1440px) {
    padding: 0 140px;
  }

  &__menu-buttons {
    position: absolute;
    right: 0;
  }

  &__nav-menu-button,
  &__profile-menu-button {
    margin-right: 15px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 34px;
    border-style: none;
    cursor: pointer;

    @media (min-width: $wide-width-start) {
      display: none;
    }
  }

  &__nav-menu-button {
    background-image: url('./../../components/header/img/menu-icon.svg');

    &_hidden {
      display: none;
    }
  }

  &__profile-menu-button {
    background-image: url('./../../components/header/img/account-icon.svg');

    &_hidden {
      display: none;
    }
  }

  &__logo-container {
    padding: 15px;
    line-height: 0;

    @media (min-width: $wide-width-start) {
      padding-left: 0;
    }
  }

  &__menu {
    display: none;

    @media (max-width: $narrow-width-end) {
      &_expanded {
        display: block;
      }
    }
  }

  &__menu,
  &__profile-menu {
    @media (max-width: $narrow-width-end) {
      position: absolute;
      z-index: 1;
      right: 0;
      background-color: #fff;
      box-shadow: 0 10px 20px transparentize($color-dark-shade, 0.95);
    }

    @media (min-width: $wide-width-start) {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }

  &__menu,
  &__profile-menu {
    @media (max-width: $narrow-width-end) {
      top: 70px;
      width: 100%;
      text-align: right;
    }
  }

  &__link-container {
    position: relative;
    padding-left: 20px;

    @media (max-width: $narrow-width-end) {
      padding: 1em;
    }
  }

  &__menu > &__link-container,
  &__profile-menu > &__link-container {
    @media (max-width: $narrow-width-end) {
      &:first-child {
        padding-top: 0;
      }
    }
  }

  &__dropdown-content > &__link-container {
    @media (max-width: $narrow-width-end) {
      padding-right: 0;
    }

    @media (min-width: $wide-width-start) {
      padding: 20px;
    }
  }

  &__dropdown-content_expanded > &__link-container {
    @media (max-width: $narrow-width-end) {
      &:first-child {
        padding-top: 2em;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    line-height: 17px;
    text-decoration: none;
    color: transparentize($color-dark-shade, 0.5);

    &:hover:not(.header__button) {
      color: transparentize($color-dark-shade, 0.25);
    }

    &_current {
      font-weight: bold;
      color: transparentize($color-dark-shade, 0.25);

      &:hover {
        opacity: 1;
      }
    }
  }

  &__expand-button {
    margin-left: 6px;
    display: inline-block;
    width: 12px;
    height: 8px;
    opacity: 0.5;
    background: url('./../../img/expand-icon.svg') no-repeat;
    cursor: pointer;

    @media (min-width: $wide-width-start) {
      margin-right: 7px;
    }

    &:hover {
      opacity: 0.75;
    }

    &_turned {
      transform: rotate(180deg);
    }
  }

  &__dropdown-content {
    display: none;

    @media (min-width: $narrow-width-end) {
      position: absolute;
      z-index: 1;
      right: 0;
      left: 0;
      width: max-content;
      background-color: #fff;
      box-shadow: 0 10px 20px transparentize($color-dark-shade, 0.95);
    }

    &_expanded {
      display: block;
    }
  }

  &__profile {
    @media (max-width: $narrow-width-end) {
      margin: 0 65px 0 auto;
    }
  }

  &__username {
    display: flex;
    align-items: center;
    line-height: 17px;
    color: transparentize($color-dark-shade, 0.5);

    @media (min-width: $narrow-width-end) {
      &::before {
        margin: 0 20px;
        display: inline-block;
        width: 1px;
        height: 30px;
        content: '';
        background-color: transparentize($color-dark-shade, 0.9);
      }
    }
  }

  &__profile-menu {
    display: none;

    @media (max-width: $narrow-width-end) {
      &_expanded {
        display: block;
      }
    }
  }

  &__button {
    @media (min-width: $wide-width-start) {
      @include button;

      &_outlined {
        @include outlined-button;
      }
    }
  }
}
