include ../../components/text/text.pug

mixin bullet-list(props)
  -
    var {
      list = [],
      title = undefined,
    } = props || {};

  .bullet-list
    if title
      .bullet-list__title
        +text({
          tag: 'h2',
          text: title,
        })
    ul.bullet-list__list
      each listElement in list
        li.bullet-list__item
          .bullet-list__marker
          +text({
            tag: 'p',
            text: listElement,
          })
