@import 'src/components/text/text.scss';
@import 'src/components/dropdown-block/dropdown-block.scss';
@import 'src/components/button/button.scss';

.count-picker {
  max-width: 320px;

  &__content {
    padding: 7px 7px 7px 15px;
    display: none;
    box-sizing: border-box;
    border: 1px solid transparentize($color-dark-shade, 0.5);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px transparentize($color-dark-shade, 0.95);
  }

  &_expanded &__content {
    display: block;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 7px;
    display: flex;
    height: 30px;
    align-items: center;
  }

  &__item-label {
    margin-right: auto;
  }

  &__button {
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: transparentize($color-dark-shade, 0.5);
    background: transparent;
    border: 1px solid transparentize($color-dark-shade, 0.75);
    border-radius: 50%;
    cursor: pointer;

    &:disabled {
      opacity: 0.38;
      cursor: not-allowed;
    }
  }

  &__item-value-container {
    width: 32px;
    text-align: center;
  }

  &__control-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__control-button {
    @include text-button;
    margin: 12px 0 6px;
  }
}
