include ../../components/text/text.pug

mixin features(props)
  -
    var {
      features = [],
      title = undefined,
    } = props || {};

  .features
    if title
      .features__title
        +text({
          tag: 'h2',
          text: title,
        })
    ul.features__list
      each feature in features
        li.features__item
          .features__icon(
            class = `features__icon_${feature.icon}`
          )
          .features__text
            .features__feature-title #{feature.title}
            .features__feature-description #{feature.description}
