include ../logo-link/logo-link.pug
include ../input/input.pug
include ../social-buttons/social-buttons.pug
include ../text/text.pug

mixin footer(props)
  -
    var {
      isNarrow = false,
    } = props || {};

    var siteDescription = 'Бронирование номеров в лучшем отеле 2019 года ' +
            'по версии ассоциации «Отельные взгляды»';
    var subscriptionDescription = 'Получайте специальные предложения и новости сервиса';
    var copyrightText = 'Copyright © 2018 Toxin отель. Все\xa0права\xa0защищены.';
    var menuData = [
      {
        columnName: 'Навигация',
        links: [
          {
            linkName: 'О нас',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Новости',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Служба поддержки',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Услуги',
            link: 'page-not-found.html'
          },
        ],
      },
      {
        columnName: 'О нас',
        links: [
          {
            linkName: 'О сервисе',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Наша команда',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Вакансии',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Инвесторы',
            link: 'page-not-found.html'
          },
        ],
      },
      {
        columnName: 'Служба поддержки',
        links: [
          {
            linkName: 'Соглашения',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Сообщества',
            link: 'page-not-found.html'
          },
          {
            linkName: 'Связь с нами',
            link: 'page-not-found.html'
          },
        ],
      },
    ];

  div(
    class = `footer${isNarrow ? ' footer_narrow' : ''}`
  )
    .footer__logo-and-site-description
      .footer__logo-container
        +logo-link()
      .footer__site-description
        +text({
          tag: 'p',
          text: siteDescription
        })
    nav.footer__menu
      each menuColumn in menuData
        .footer__menu-column
          .footer__menu-column-title
            +text({
              tag: 'h3',
              text: `${menuColumn.columnName}`
            })
          ul.footer__menu-links-list
            each link in menuColumn.links
              li.footer__menu-link-item
                a.footer__menu-link(href= link.link)= link.linkName
    .footer__subscription
      .footer__subscription-title
        +text({
          tag: 'h3',
          text: 'Подписка'
        })
      .footer__subscription-description
        +text({
          tag: 'p',
          text: subscriptionDescription
        })
      form.footer__subscription-form(action='page-not-found.html')
        .footer__subscription-input
          +input({
            name: 'email',
            placeholder: 'Email',
            type: 'email',
            withSubmitButton: true,
          })
    .footer__bottom
      .footer__copyright= copyrightText
      .footer__social-buttons
        +social-buttons()
