@import 'src/variables.scss';
@import 'src/components/text/text.scss';
@import 'src/components/input/input.scss';
@import 'src/components/social-buttons/social-buttons.scss';

@mixin narrow {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  max-width: 1920px;

  &_narrow {
    @include narrow;

    .footer__site-description,
    .footer__menu,
    .footer__subscription {
      display: none;
    }

    .footer__social-buttons {
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    @include narrow;
  }

  &:not(&_narrow) {
    margin: 0 auto;

    @media (min-width: 769px) {
      padding: 50px 70px 0;
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'logo-and-site-description subscription'
        'menu menu'
        'bottom bottom';
    }

    @media (min-width: 1300px) {
      grid-column-gap: 20px;
      grid-template-columns: 280px 1fr 260px;
      justify-content: center;
      grid-template-areas:
        'logo-and-site-description menu subscription'
        'bottom bottom bottom';
    }

    @media (min-width: 1440px) {
      padding: 100px 140px 0;
    }

    .footer__logo-and-site-description {
      @media (min-width: 769px) {
        padding-right: 20px;
        grid-area: logo-and-site-description;
        max-width: 260px;
      }
    }

    .footer__bottom {
      @media (min-width: 769px) {
        margin-top: 51px;
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
      }

      @media (min-width: 1440px) {
        margin-top: 101px;
      }
    }
  }

  &__logo-container {
    line-height: 0;
  }

  &__logo-container,
  &__subscription-description {
    margin-bottom: 20px;
  }

  &__site-description {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    grid-area: menu;

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 1299px) {
      margin-top: 50px;
    }

    @media (min-width: 1440px) {
      min-width: 80%;
      justify-self: center;
    }
  }

  &__menu,
  &__subscription {
    margin-top: 4px;
  }

  &__menu-column-title,
  &__subscription-title {
    margin-bottom: 21px;
  }

  &__menu-links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__menu-link-item + &__menu-link-item {
    margin-top: 20px;
  }

  &__menu-link {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: transparentize($color-dark-shade, 0.5);

    &:hover {
      opacity: 0.5;
    }
  }

  &__subscription {
    grid-area: subscription;
    max-width: max-content;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__bottom {
    grid-area: bottom;
    align-items: center;
  }

  &__copyright {
    line-height: 17px;
    color: transparentize($color-dark-shade, 0.25);
  }

  &__social-buttons {
    height: max-content;

    @media (max-width: 768px) {
      margin-top: 25px;
      display: flex;
      justify-content: center;
    }
  }
}
