@import 'src/variables.scss';
@import 'src/components/footer-menu/footer-menu.scss';
@import 'src/components/input/input.scss';
@import 'src/components/social-buttons/social-buttons.scss';

.footer {
  padding: 0 5%;

  @media (min-width: 1440px) {
    padding: 0 145px 0 140px;
  }

  background-color: #fff;

  &__top {
    margin: 0 auto;
    padding: 5% 0;

    @media (max-width: 768px) {
      padding: 120px 0 0;
    }

    /* stylelint-disable */
    &:not(.footer__top_mobile) {
      /* stylelint-enable */
      @media (min-width: 769px) {
        box-shadow: 0 1px 0 transparentize($color-dark-shade, 0.9);
      }

      @media (min-width: 1440px) {
        padding: 104px 0 100px;
        max-width: 1920px;
      }
    }
  }

  &__top_mobile {
    padding: 120px 0 0;
  }

  &__nav-and-subscription {
    display: flex;
    max-width: 1920px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    /* stylelint-disable */
    &:not(.footer__nav-and-subscription_mobile) {
      /* stylelint-enable */
      @media (min-width: 769px) and (max-width: 1365px) {
        flex-wrap: wrap;
        justify-content: left;
      }
    }
  }

  &__nav-and-subscription_mobile {
    justify-content: center;
  }

  &__site-description,
  &__subscription {
    /* stylelint-disable */
    &:not(.footer__site-description_mobile):not(.footer__subscription_mobile) {
      /* stylelint-enable */
      @media (min-width: 1440px) {
        min-width: 260px;
        max-width: 20%;
      }
    }
  }

  &__site-description {
    width: 20%;

    @media (max-width: 768px) {
      width: unset;
    }

    /* stylelint-disable */
    &:not(.footer__site-description_mobile) {
      /* stylelint-enable */
      @media (min-width: 769px) and (max-width: 1365px) {
        width: 25%;
      }

      @media (min-width: 2560px) {
        width: 380px;
      }
    }
  }

  &__site-description_mobile {
    width: unset;
  }

  &__logo-wrap {
    margin-bottom: 20px;
    line-height: 0;
  }

  &__site-description-text {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__site-description-text_mobile {
    display: none;
  }

  &__menu {
    margin-left: 2%;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 1365px) {
      margin-left: 0;
      width: 75%;
    }

    @media (min-width: 1366px) {
      margin-left: 40px;
    }

    @media (min-width: 2560px) {
      width: 60%;
    }
  }

  &__menu_mobile {
    display: none;
  }

  &__subscription {
    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 1023px) {
      margin-top: 2em;
    }

    @media (min-width: 1024px) and (max-width: 1365px) {
      margin-top: 1em;
    }
  }

  &__subscription_mobile {
    display: none;
  }

  &__subscription-description {
    margin: 21px 0 20px;
  }

  &__bottom {
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      padding: 0 0 120px;
      flex-direction: column;
    }
  }

  &__bottom_mobile {
    padding: 0 0 120px;
    flex-direction: column;
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: transparentize($color-dark-shade, 0.25);

    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  &__copyright_mobile {
    margin-bottom: 25px;
  }
}
