mixin palette-item(colorModifier, name, hex)
  section.palette-item
    div(class=`palette-item__cell palette-item__cell_color_${colorModifier}`)
    .palette-item__description
      h2.palette-item__name= name
      p.palette-item__hex= hex
