@import 'src/variables.scss';

.palette-item {
  display: flex;
  align-items: center;

  &__cell {
    margin-right: 40px;
    min-width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color_dark-shade {
      background: $color-dark-shade;
    }

    &_color_dark-shade-75 {
      opacity: 0.75;
      background: $color-dark-shade;
    }

    &_color_dark-shade-50 {
      opacity: 0.5;
      background: $color-dark-shade;
    }

    &_color_dark-shade-25 {
      opacity: 0.25;
      background: $color-dark-shade;
    }

    &_color_dark-shade-5 {
      opacity: 0.05;
      background: $color-dark-shade;
    }

    &_color_purple {
      background: $color-purple;
    }

    &_color_green {
      background: $color-green;
    }
  }

  &__description {
    min-width: max-content;
  }

  &__name {
    margin: 0;
    font-size: 19px;
    line-height: 28px;
    font-weight: bold;
  }

  &__hex {
    margin: 0;
    font-size: 19px;
    line-height: 28px;
    font-weight: normal;
  }
}
