mixin palette-item(color_modifier, name, hex)
  section.palette-item
    div(class=`palette-item__cell palette-item__cell_color_${color_modifier}`)
    .palette-item__description
      h2.palette-item__name= name
      p.palette-item__hex= hex
