mixin social-buttons()
  -
    var socialButtons = [
      {
        link: 'https://twitter.com/',
        title: 'Наш Twitter',
        imgPath: require('./../../components/social-buttons/img/twitter-logo.svg'),
      },
      {
        link: 'https://www.facebook.com',
        title: 'Наш Facebook',
        imgPath: require('./../../components/social-buttons/img/facebook-logo.svg'),
      },
      {
        link: 'https://www.instagram.com',
        title: 'Наш Instagram',
        imgPath: require('./../../components/social-buttons/img/instagram-logo.svg'),
      },
    ]

  .social-buttons
    ul.social-buttons__list
      for button in socialButtons
        li.social-buttons__list-item
          a.social-buttons__link(
            href = button.link
            rel = 'noopener noreferrer'
            target = '_blank'
            title = button.title
          )
            img.social-buttons__img(
              src = button.imgPath
              alt = `${button.title.slice(4)} logo`
            )
