@import 'src/variables.scss';

.social-buttons {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    line-height: 0;
  }

  &__list-item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    :hover {
      fill: darken($color-purple, 10%);
    }
  }
}
