include ../carousel/carousel.pug
include ../room-number-and-price/room-number-and-price.pug
include ../rating/rating.pug

mixin room-card(props)
  -
    var {
      price = 0,
      nReviews = 0,
      rating = 0,
      roomNumber = 0,
      roomSpecialType = '',
    } = props || {};

  .room-card.js-room-card
    +carousel({
      roomNumber,
    })
    .room-card__description
      +room-number-and-price({
        price,
        roomNumber,
        roomSpecialType,
      })
      .room-card__delimiter
      +rating({ rating: rating, nReviews: nReviews })

