$color-dark-shade: #1f2041;
$color-purple: #bc9cff;
$color-purple-gradient: #8ba4f9;
$color-green: #6fcf97;
$color-green-gradient: #66d2ea;
$color-error: #f00;
$font-family: Montserrat, Arial, sans-serif;
$gradient-purple: linear-gradient(180deg, $color-purple, $color-purple-gradient);
$gradient-green: linear-gradient(180deg, $color-green, $color-green-gradient);
