include ../../components/text/text.pug

mixin checkbox-buttons(props)
  -
    var {
      items = [],
      name = '',
      isRich = false,
      label = undefined,
    } = props || {};

  .checkbox-buttons
    if label
      .checkbox-buttons__title
        +text({
          tag: 'h3',
          text: label,
        })
    each item in items
      label.checkbox-buttons__label
        input.checkbox-buttons__input(
          checked = item.checked
          name = name
          type = 'checkbox'
          value = item.value || item.title
        )
        .checkbox-buttons__checkmark
        if isRich
          .checkbox-buttons__item-text
            .checkbox-buttons__item-title #{item.title}
            .checkbox-buttons__item-description #{item.description}
        else
          .checkbox-buttons__item-value #{item.value}
