@import 'src/components/calendar/calendar.scss';
@import 'src/components/room-search/room-search.scss';
@import '../../components/booking-card/booking-card.scss';
@import '../../components/registration-card/registration-card.scss';
@import '../../components/room-card/room-card.scss';
@import '../../components/signin-card/signin-card.scss';

.cards {
  margin: 52px 120px;
  display: flex;

  &__card {
    padding: 20px;
  }

  &__room-card {
    width: 270px;
  }
}
