extends ../ui-kit/ui-kit.pug
include ../../components/calendar/calendar.pug
include ../../components/room-search/room-search.pug
include ../../components/booking-card/booking-card.pug

block variables
  -
    var title = 'Cards';
    var description = 'Cards Description';
    var keywords = 'Cards Keywords';
    var backgroundColor = 'gray';

block content
  .cards
    .cards__card
      +room-search()
    .cards__card
      +booking-card({
        roomNumber: '888',
        roomType: 'Люкс',
        roomPrice: '9990',
        discount: '2179',
      })
    .cards__card
      +calendar()
