@import 'src/components/calendar/calendar.scss';
@import 'src/components/room-search/room-seach.scss';
@import '../../components/count-picker/count-picker.scss';
@import '../../components/booking-card/booking-card.scss';
@import '../../components/registration-card/registration-card.scss';
@import '../../components/room-card/room-card.scss';

.cards {
  display: flex;
  flex-direction: column;

  &__card {
    margin: 40px;
  }
}
