extends ../ui-kit/ui-kit.pug
include ../../components/palette-item/palette-item.pug
include ../../components/typography-item/typography-item.pug

block variables
  -
    var title = 'Colors & Type';
    var description = 'Color & Type Description';
    var keywords = 'Color & Type Keywords';
    var paletteData = [
      {
        colorModifier: 'dark-shade',
        name: 'Dark Shade 100%',
        hex: '#1F2041',
      },
      {
        colorModifier: 'dark-shade-75',
        name: 'Dark Shade 75%',
        hex: '#1F2041',
      },
      {
        colorModifier: 'dark-shade-50',
        name: 'Dark Shade 50%',
        hex: '#1F2041',
      },
      {
        colorModifier: 'dark-shade-25',
        name: 'Dark Shade 25%',
        hex: '#1F2041',
      },
      {
        colorModifier: 'dark-shade-5',
        name: 'Dark Shade 5%',
        hex: '#1F2041',
      },
      {
        colorModifier: 'purple',
        name: 'Purple',
        hex: '#BC9CFF',
      },
      {
        colorModifier: 'green',
        name: 'Green',
        hex: '#6FCF97',
      },
    ];
    var typographyData = [
      {
        tagSize: 'largest',
        tagText: 'H1',
        descriptionTag: 'h1',
        descriptionText: 'This one is the sub-section or widget title',
      },
      {
        tagSize: 'larger',
        tagText: 'H2',
        descriptionTag: 'h2',
        descriptionText: 'Next one is the item title inside widgets',
      },
      {
        tagSize: 'small',
        tagText: 'H3',
        descriptionTag: 'h3',
        descriptionText: 'This is a label or CTA text',
      },
      {
        tagSize: 'medium',
        tagText: 'Body',
        descriptionTag: 'p',
        descriptionText: 'This is the body text which is used for most of ' +
                'the design, like paragraphs, lists, etc.'
      },
    ];

block content
  .palette-and-typography
    ul.palette
      each val in paletteData
        li
          .palette-item__positioning
            +palette-item(
              val.colorModifier,
              val.name,
              val.hex,
            )
    ul.typography
      each val in typographyData
        li
          .typography-item__positioning
            +typography-item(
              val.tagSize,
              val.tagText,
              val.descriptionTag,
              val.descriptionText,
            )
