@import 'src/components/palette-item/palette-item.scss';
@import 'src/components/typography-item/typography-item.scss';

.palette-and-typography {
  padding: 67px 158px 0 150px;
  display: flex;
}

.palette {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.palette-item {
  &__positioning {
    margin-bottom: 20px;
  }
}

.typography {
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.typography-item {
  &__positioning {
    margin-bottom: 50px;
    max-width: 436px;
  }
}
