@import 'src/components/palette-item/palette-item.scss';
@import 'src/components/typography-item/typography-item.scss';

.palette-and-typography {
  padding: 67px 150px;
  display: flex;

  &__palette,
  &__typography {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__palette {
    margin-right: 415px;
  }

  &__palette-list-item {
    margin-bottom: 20px;
  }

  &__typography-list-item {
    margin-bottom: 51px;
  }
}
