extends ../ui-kit/ui-kit.pug
include ../../components/palette-item/palette-item.pug
include ../../components/typography-item/typography-item.pug

block variables
  -
    var title = 'Colors & Type'
    var description = 'Color & Type Description'
    var keywords = 'Color & Type Keywords'
    var palette = [
      {
        'color_modifier': 'dark-shade',
        'name': 'Dark Shade 100%',
        'hex': '#1F2041',
      },
      {
        'color_modifier': 'dark-shade-75',
        'name': 'Dark Shade 75%',
        'hex': '#1F2041',
      },
      {
        'color_modifier': 'dark-shade-50',
        'name': 'Dark Shade 50%',
        'hex': '#1F2041',
      },
      {
        'color_modifier': 'dark-shade-25',
        'name': 'Dark Shade 25%',
        'hex': '#1F2041',
      },
      {
        'color_modifier': 'dark-shade-5',
        'name': 'Dark Shade 5%',
        'hex': '#1F2041',
      },
      {
        'color_modifier': 'purple',
        'name': 'Purple',
        'hex': '#BC9CFF',
      },
      {
        'color_modifier': 'green',
        'name': 'Green',
        'hex': '#6FCF97',
      },
    ];

block content
  .palette-and-typography
    ul.palette
      each val in palette
        li
          .palette-item__positioning
            +palette-item(
              val.color_modifier,
              val.name,
              val.hex
            )
    ul.typography
      li
        .typography-item__positioning
          +typography-item(
            'largest',
            'H1',
            'h1',
            'This one is the sub-section or widget title'
          )
      li
        .typography-item__positioning
          +typography-item(
            'larger',
            'H2',
            'h2',
            'Next one is the item title inside widgets'
          )
      li
        .typography-item__positioning
          +typography-item(
            'small',
            'H3',
            'h3',
            'This is a label or CTA text'
          )
      li
        .typography-item__positioning
          +typography-item(
            'medium',
            'Body',
            'p',
            'This is the body text which is used for most ' +
            'of the design, like paragraphs, lists, etc.'
          )
